[submodule "external/doctest"]
	path = external/doctest
	url = git://github.com/onqtam/doctest.git

[submodule "external/websocketpp"]
	path = external/websocketpp
	url = git://github.com/zaphoyd/websocketpp.git
